* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  --text-font: 'Poppins', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --title-color: #141313;
  --primary-color: #ff0000;
  --head-title: #FF1F1F;
  --white-color: #fff;
  --text-color: #DADADA;
  --line-color: #B4B3B3;
  --feature-title: #E10606;
  --black: #000;
  --app-title: #FF0101;
  --grey: #2B2A2A;

}

#preloader {
  background: var(--title-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.status {
  background: url(../images/loader.gif);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -117px;
}

/* PRELOADER ENDS */

/* HEADER STARTS */
.main-head {
  height: 100%;
  background: var(--title-color);
  padding: 1px;

}

.logo-img {
  text-align: center;

}

hr {
  background: var(--line-color);
  width: 60%;
  margin: 1rem auto;
  border: 2px solid #B4B3B3;
}

.head-title {
  color: var(--white-color);
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1.5rem;
}

.head-text {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  color: var(--text-color);
  font-size: 0.625rem;
  line-height: 26px;
}

.launch-title {
  color: var(--head-title);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;

}

.launch-text {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  color: var(--white-color);
  font-size: 0.75rem;

}

.sub-input {
  background: var(--white-color);
  width: 100%;
  height: 42px;
  padding: 0 0.5rem;

}

.sub-input:focus {
  outline: 0;
}

.wrapper {
  padding: 1px;
  background: var(--title-color);
}

.success-p {
  font-size: 2rem;
  font-family: var(--title-font);
  color: var(--text-color);
  font-weight: 500;
}

.bg-success {
  width: 80%;
  margin: auto;
  padding: 5%;
  background-color: var(--title-color) !important;
}

.bg-danger {
  width: 61%;
  padding: 3%;
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--text-color);
}

.bg-dangerr {
  background-color: #dc3545;
  font-size: 1.1rem;
  font-family: var(--title-font);
  color: var(--text-color);
  padding: 1%;
}

.prwa {
  margin-bottom: -18px;
}

.btn {
  background: var(--primary-color);
  color: var(--white-color);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 0.625rem;
  width: 36%;
  height: 42px;
  margin-top: 1rem;
  line-height: 1;
  transition: all .3s linear;
  border-radius: none;
}

.btn:focus,
.btn:active {
  outline: 0;
  box-shadow: none;
}

.btn:hover {
  opacity: 0.7;
  color: var(--line-color);
}

.back-link {
  line-height: 1.5;
}

/* features begin here */
.features {
  padding: 1px;
}

.feature-title,
.screenshot-title {
  color: var(--title-color);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  position: relative;
  font-size: 1.125rem;
}

.feature-title::after {
  content: '';
  position: absolute;
  width: 87px;
  height: 4px;
  background: var(--primary-color);
  top: 23px;
  left: 156px;
}

.feat-mob {
  border: 5px solid var(--grey);
  box-shadow: none;
}

.feat-title {
  color: var(--app-title);
  font-family: var(--text-font);
  font-style: normal;
  font-weight: bold;
  font-size: 0.75;
}

.feat-text {
  font-family: var(--text-font);
  color: var(--black);
  font-style: normal;
  font-weight: 500;
  font-weight: 0.625rem;
}

.lightboxOverlay {
  outline: 0;
}

.lb-outerContainer {
  background: none;
}

.lightbox .lb-image {
  border: none;
}

.lb-data .lb-caption {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-color);
  font-family: var(--text-font);
  line-height: 1.3;
}

.slick-slide,
.slick-slide:active,
.slick-slide:focus {
  outline: 0;
}

.slick-dots li {
  width: 22px;
  height: 14px;
  background: var(--grey);
}

.slick-dots li.slick-active button:before {
  background: var(--primary-color);
  opacity: 1;
  color: var(--primary-color);
}

.slick-dots li button {
  width: 22px;
  height: 14px;
  color: transparent;
  background: var(--grey);
}

.slick-dots li.slick-active button:before {
  background: var(--primary-color);
  opacity: 1;
  color: var(--primary-color);
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  width: 22px;
  height: 14px;
  content: '';
  text-align: center;
  opacity: 1;
  color: black;
}


/* Feature section ends */
/* Screenshot section ends */
.screenshots {
  padding: 1px;
}

.screenshot-title::after {
  content: '';
  position: absolute;
  width: 87px;
  height: 4px;
  background: var(--primary-color);
  top: 23px;
  left: 156px;
}

.img-flui {
  width: 80%;
}

/* Screenshot ends here */
/* footer begins here */
.footer {
  padding: 1px;
  background: var(--title-color);
}

.foot-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  color: var(--white-color);
  font-size: 1.5rem;

}

.time-text {
  color: var(--text-color);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 22px;
}

.timer {

  font-family: var(--title-font);
  font-size: 1.5rem;
  line-height: 16px;
}

.p-wrap {
  background: var(--grey);
}

.logo-foot {
  width: 34%;
}

.top-scroll {
  display: none;
}

.media {
  width: 10%;
}